extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.productData.title}
                        div.card__content
                            h2.product__price $#{product.productData.price}
                            p.product__description #{product.productData.description}
                            h1.product_price #{product.qty}
                        .card__actions
                             form(action="/cart-delete-item" method="POST") 
                                 button.btn( type="submit") Remove From Cart
                                 input(type="hidden" name="productId" value=product.productData.id)     
            hr
            h1.product-item  Total Cart Value #{price}     
        else
            h1 No Products in cart